# OS (Linux/Debian)
*~
.fuse_hidden*
.directory
.Trash-*

# IDE (IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr
out/

# Backend (Java / Spring Boot / Maven)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.class
*.jar
*.war
*.ear
*.log

# ==========================================
# ☕ JAVA / SPRING BOOT & IDE CONFIGURATIONS
# ==========================================
.mvn/
mvnw
mvnw.cmd

# ==========================================
# 🅰️ ANGULAR / NODE.JS (MONOREPO MATCHING)
# ==========================================
# Dipendenze e cache pesanti
**/node_modules/
**/.angular/

# Output di compilazione e build
**/dist/
**/tmp/
**/out-tsc/

# Log di sistema ed errori di pacchetti
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File di sistema operativi
.DS_Store
Thumbs.db

# Infrastructure / Docker / Secrets
.env
.env.*
docker-compose.override.yml

### Escludo, per il momento, l'architettura startegica progetto in pdf - REGISTRO IMPLEMENTAZIONE ###
architettura_startegica_eclettici.pdf
REGISTRO_IMPLEMENTAZIONE_FUNZIONALE.md

### Escludo il token per git ###
token